In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df=pd.read_excel(io='table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')

In [21]:
df=df.drop(df.index[:4])

In [22]:
df.columns=['City','Population','Violent crime','Murder and nonnegligent manslaughter','Rape (revised definition)','Rape (legacy definition)','Robbery','Aggravated assault','Property crime','Burglary','Larceny- theft','Motor vehicle theft','Arson']

In [23]:
feature

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape (legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
8,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
10,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
11,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
12,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
13,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
14,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
15,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
17,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
18,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
19,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
20,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
21,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
22,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
23,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
24,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
25,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
26,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
27,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
28,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
29,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
30,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
31,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
32,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
33,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
326,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
327,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
328,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
329,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
330,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
331,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
332,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
333,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
334,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
335,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
336,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
337,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
338,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
339,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
340,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
341,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
342,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
343,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
344,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
345,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
346,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
347,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
349,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
350,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
351,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
features = pd.DataFrame({'A':[]})

In [27]:
features['population']=df['Population']

In [29]:
features['pop_squared']=df['Population']**2

In [31]:
features['murder'] = np.where(df['Murder and nonnegligent manslaughter']>0, 1, 0)

In [33]:
features['robbery'] = np.where(df['Robbery']>0, 1, 0)

In [34]:
features

      A population  pop_squared  murder  robbery
4   NaN       1861      3463321       0        0
5   NaN       2577      6640929       0        0
6   NaN       2846      8099716       0        0
7   NaN      97956   9595377936       1        1
8   NaN       6388     40806544       0        1
9   NaN       4089     16719921       0        1
10  NaN       1781      3171961       0        0
11  NaN     118296  13993943616       1        1
12  NaN       9519     90611361       0        1
13  NaN      18182    330585124       0        1
14  NaN       2053      4214809       0        0
15  NaN       4523     20457529       0        1
16  NaN        658       432964       0        0
17  NaN       2522      6360484       0        0
18  NaN      27270    743652900       1        1
19  NaN       3333     11108889       0        1
20  NaN       7473     55845729       0        1
21  NaN       5418     29354724       0        1
22  NaN      15374    236359876       0        1
23  NaN       5733     32867289       0        1
24  NaN      17627    310711129       0        1
25  NaN      34243   1172583049       0        1
26  NaN      46304   2144060416       1        1
27  NaN       1410      1988100       0        0
28  NaN      12001    144024001       0        0
29  NaN       1022      1044484       0        0
30  NaN       2325      5405625       0        0
31  NaN       2054      4218916       0        0
32  NaN       2065      4264225       0        1
33  NaN       2358      5560164       0        0
..   ..        ...          ...     ...      ...
325 NaN      61686   3805162596       1        1
326 NaN      27980    782880400       0        1
327 NaN       6887     47430769       1        1
328 NaN      27940    780643600       0        1
329 NaN       3012      9072144       0        0
330 NaN       3453     11923209       0        0
331 NaN       5828     33965584       0        1
332 NaN       8392     70425664       0        0
333 NaN       5175     26780625       0        1
334 NaN      28179    794056041       0        1
335 NaN      10245    104960025       1        1
336 NaN       1862      3467044       0        0
337 NaN       4337     18809569       0        1
338 NaN      43777   1916425729       0        1
339 NaN       1797      3229209       0        0
340 NaN       4574     20921476       0        0
341 NaN       1732      2999824       0        0
342 NaN      44821   2008922041       1        1
343 NaN       2604      6780816       0        0
344 NaN      57559   3313038481       1        1
345 NaN       3733     13935289       0        0
346 NaN       9141     83557881       0        0
347 NaN      10685    114169225       0        1
348 NaN        829       687241       0        0
349 NaN       5931     35176761       0        0
350 NaN     199134  39654349956       1        1
351 NaN      36643   1342709449       0        1
352 NaN        NaN          NaN       0        0
353 NaN        NaN          NaN       0        0
354 NaN        NaN          NaN       0        0

[351 rows x 5 columns]